[submodule "onboarding"]
	path = onboarding
	url = https://github.com/SolanaPulse/onboarding.git
[submodule "forum-program"]
	path = forum-program
	url = https://github.com/SolanaPulse/forum-program.git
[submodule "voting-program"]
	path = voting-program
	url = https://github.com/SolanaPulse/voting-program.git
[submodule "token-program"]
	path = token-program
	url = https://github.com/SolanaPulse/token-program.git
